<section>
    <ul>
        <li>Unicons by <a href="https://iconscout.com/unicons" target="_blank" rel="noopener noreferrer">Iconscout</a></li>
        <li>Color Pallets by <a href="https://colorhunt.co/" target="_blank" rel="noopener noreferrer">Color Hunt</a></li>
        <li>Fresh Gradients by <a href="https://gradienthunt.com/" target="_blank" rel="noopener noreferrer">Gradient Hunt</a></li>
        <li>Background Gradients by <a href="https://webgradients.com/" target="_blank" rel="noopener noreferrer">WebGradients</a></li>
        <li>Beautiful SVG Illustrations by <a href="https://undraw.co/illustrations" target="_blank" rel="noopener noreferrer">Undraw.co</a></li>
    </ul>
</section>