<main>
  <div class="intro">
    <div class="body">
      <h2>Hello! , I'm</h2>
      <h1>Sourabh Patel</h1>
      <h2>/sorx/</h2>
      <p>I'm a Web Developer and a passionate Graphic Designer</p>
      <p>/also a hardcore gamer/</p>
    </div>
    <div class="image"><img src="assets/images/coding.svg" alt="sorx"/></div>
    <a class="arrow" href="#skills"><i class="uil uil-angle-down"></i></a>
  </div>
  <div class="skills" id="skills">
    <div class="cover">
      <img src="assets/images/percentages.svg"  alt="Skills" />
    </div>
    <div class="body">
      <h1><i class="uil uil-edit-alt"></i>My Skills</h1>
      <div class="container">
        <ul>
          <li >Languages</li>
          <li>C</li>
          <li>Java</li>
        </ul>
        <ul>
          <li >Web Techs</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
          <li>Angular</li>
          <li>NodeJS</li>
          <li>TypeScript</li>
        </ul>
        <ul>
          <li >Tools</li>
          <li>Git</li>
          <li>PS</li>
          <li>AI</li>
        </ul>
      </div>
    </div>
  </div>
</main>
