<main>
  <div class="intro">
    <div class="body">
      <h2>Hello! , I'm</h2>
      <h1>Azhy Slemany</h1>
      <h2>/azhy/</h2>
      <p>I'm a computer programmer and a mathematics lover.</p>
      <h2>/mov me, algo/</h2>
    </div>
    <div class="image"><img src="assets/images/coding.svg" alt="sorx"/></div>
    <a class="arrow" href="#skills"><i class="uil uil-angle-down"></i></a>
  </div>
  <div class="skills" id="skills">
    <div class="cover">
      <img src="assets/images/percentages.svg"  alt="Skills" />
    </div>
    <div class="body">
      <h1><i class="uil uil-edit-alt"></i>My Skills</h1>
      <div class="container">
        <ul>
          <li >Languages</li>
          <li>Java</li>
          <li>Python</li>
          <li>C#</li>
          <li>C++</li>
          <li>JS</li>
          <li>VB.Net</li>
          <li>Php</li>
          <li>Sql</li>
        </ul>
        <ul>
          <li >Tools</li>
          <li>Git</li>
          <li>Unity</li>
          <li>Andoid Studio</li>
          <li>Visual Studio</li>
          <li>Xamarin</li>
        </ul>
        <ul>
          <li >Types of Development</li>
          <li>A.I</li>
          <li>Game</li>
          <li>Data Science</li>
          <li>Mobile App</li>
          <li>Computer App</li>
          <li>Web App</li>
        </ul>
      </div>
    </div>
  </div>
</main>
