@import "./src/assets/css/colors.scss";

section{
    ul{
        li{
            a{
                background: $asscent;
                line-height: 1.5em;
                margin: 0;
                padding: 0 8px;
                border-radius: 10px;
            }
        }
    }
}
@media screen and (max-width:700px){
    section{
        padding-top: 15%;
    }
}