<div class="ham">
  <a (click)='toggle()'><i class="uil uil-align-center-alt"></i></a>
</div>
<nav id="navbar" [ngClass]="{'toggle': isToggle}" >
  <ul>
    <li> <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
    <li>/</li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li>/</li>
    <li><a routerLink="/resources" routerLinkActive="active">Resources</a></li>
    <li >/</li>
    <li><a href="#">Resume</a></li>
    <li [ngStyle]="{'display': isToggle ? 'block' : 'none'}"><a (click)='toggle()' > <i class="uil uil-multiply"></i></a></li>
  </ul>
</nav>
