<section>
  <div class="cards">
    <div class="card">
      <p class="title">Sersken</p>
      <div class="details">
        <a href="https://play.google.com/store/apps/details?id=com.azhy.sersken" target="_blank">Play Store <i class="uil uil-external-link-alt"></i></a>
        <ul class="tags">
          <li>#java</li>
          <li>#android</li>
          <li>#firebase</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <p class="title">Kurd Doblaj</p>
      <div class="details">
        <a href="#" target="_blank"> </a>
        <ul class="tags">
          <li>#xamarin</li>
          <li>#android</li>
          <li>#c-sharp</li>
          <li>#php</li>
          <li>#mysql</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <p class="title">Kurdish (GUI Only)</p>
      <div class="details">
        <a href="https://github.com/dolanskurd/kurdish" target="_blank">Github <i class="uil uil-external-link-alt"></i></a>
        <ul class="tags">
          <li>#python</li>
          <li>#pyqt</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <p class="title">Easy Progress Bar</p>
      <div class="details">
        <a href="https://github.com/Azhy-Slemany/EasyProgressBar" target="_blank">Github <i class="uil uil-external-link-alt"></i></a>
        <ul class="tags">
          <li>#java</li>
          <li>#android</li>
        </ul>
      </div>
    </div>
    <div class="card" style="margin-bottom: 40px">
      <p class="title">Easy File Chooser</p>
      <div class="details">
        <a href="https://github.com/Azhy-Slemany/EasyFileChooser-PythonLibrary" target="_blank">Github <i class="uil uil-external-link-alt"></i></a>
        <ul class="tags">
          <li>#python</li>
          <li>#tkinter</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover"><h1>Projects</h1><img src="assets/images/nerd.png" alt="" srcset=""></div>
</section>
