<section>
  <div class="cards">
    <div class="card">
      <p class="title">Grid</p>
      <div class="details">
        <a href="http://github.com/imsorx/grid" target="_blank">Github <i class="uil uil-external-link-alt"></i></a>
        <ul class="tags">
          <li>#angular</li>
          <li>#nodejs</li>
          <li>#electron</li>
          <li>#websockets</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <p class="title">SorX</p>
      <div class="details">
        <a href="https://github.com/imsorx/imsorx.github.io" target="_blank">Github <i class="uil uil-external-link-alt"></i></a>
        <ul class="tags">
          <li>#angular</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover"><h1>Projects</h1><img src="assets/images/nerd.png" alt="" srcset=""></div>
</section>
