<footer>
  <p class="copyright">
    <i class="uil uil-copyright"></i>2020 | Made with
    <i class="uil uil-heart heart"></i>
  </p>
  <ul class="social">
    <li data-tooltip="Instagram">
      <a href="https://www.instagram.com/azhy_01/" target="_blank" rel="noopener noreferrer"><i
          class="uil uil-instagram"></i></a>
    </li>
    <li data-tooltip="Github">
      <a href="https://github.com/Azhy-Slemany" target="_blank" rel="noopener noreferrer"><i class="uil uil-github"></i></a>
    </li>
    <li data-tooltip="Linkedin">
      <a href="https://www.linkedin.com/in/azhy-slemany-528670168/" target="_blank" rel="noopener noreferrer"><i
          class="uil uil-linkedin"></i></a>
    </li>
    <li data-tooltip="Facebook">
      <a href="https://www.facebook.com/azhy.sulemany/" target="_blank" rel="noopener noreferrer"><i
          class="uil uil-facebook-f"></i></a>
    </li>
  </ul>
  <p class="mail"><i class="uil uil-envelope"></i>Azhysulemany@gmail.com</p>
</footer>